
<%- include('partials/header.ejs')%>


    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Category Management</h1>
                        </div>

                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <% if (message) { %>
                                    <h4 style="color: rgb(21, 181, 66);"><%=message %></h4>
                                    <% } %>
                                    <% if (error) { %>
                                        <h4 style="color: rgb(181, 21, 21);"><%=error%></h4>
                                        <% } %>
                                <a href="/admin/addCategory" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Create</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                   <br>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Category</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap  table-bordered">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach((category, index) => { %>
                
                                        <tr>
                                            <td>C<%= Math.floor(Math.random() * 900) + 100 %></td>
                                            <td><%= category.name %></td>
                                            <td> <div class="btn badge-<%= category.isActive ?   'success':'danger' %>">
                                                <%= category.isActive ? 'Active':'Inactive' %>
                                            </div></td>
                                            <!-- <td>
                                                <form id="deleteCategoryForm-<%= category._id %>" action="/admin/deleteCategory/<%= category._id %>" method="POST" style="display:inline;" onsubmit="return confirmDeleteCategory(event, this)">
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                                
                                              
                                            
                                            </td> -->
                                            <td>
                                                <% if(category.isActive){%>
                                                    <form  id="unlistForm-<%= category._id %>" action="/admin/deleteCategory" method="POST" style="display:inline;" onsubmit="return confirmDeleteCategory(event, 'Are you sure you want to unlist this category?', this)">
                                                        <input type="hidden" name="categoryId" value="<%= category._id %>">
                                                        <button type="submit" class="btn btn-success">Unlist</button>
                                                    </form>
                                                    <%}else{%>
                                                        <form id="listForm-<%= category._id %>" action="/admin/activeCategory" method="POST" style="display:inline;" onsubmit="return confirmDeleteCategory(event, 'Are you sure you want to List this category?', this)">
                                                            <input type="hidden" name="categoryId" value="<%= category._id %>">
                                                            <button type="submit" class="btn btn-danger">List</button>
                                                        </form>
                                                       
                                                    <% } %>

                                                    <a href="/admin/editCategory/<%= category._id %>" class="btn btn-primary btn">Edit</a>
                                            </td>
                                        </tr>
                                <% }) %>
                               
                            </tbody>

                            <!-- SweetAlert2 -->
                            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


                             
                               <script>
   
                                    function  confirmDeleteCategory(event, message, form) {
                                               event.preventDefault(); // Prevent the form from submitting immediately
                                           
                                               // Show SweetAlert confirmation dialog
                                               Swal.fire({
                                                   title: message,
                                                   icon: 'warning',
                                                   showCancelButton: true,
                                                   confirmButtonColor: 'green',
                                                   cancelButtonColor: 'red',
                                                   confirmButtonText: 'Yes',
                                                   cancelButtonText: 'No',
                                                   background: '#ffff',  // Black theme background
                                                   color: 'black'           // Text color white
                                               }).then((result) => {
                                                   if (result.isConfirmed) {
                                                       // Change button color if confirmed
                                                       const button = form.querySelector('button');
                                                       button.classList.remove('btn-success', 'btn-danger');
                                                       button.classList.add('btn-secondary'); // You can adjust this color as needed
                                           
                                                       // Submit the form if the user confirms
                                                       form.submit();
                                                   }
                                               });
                                           
                                               return false; // Always prevent default form submission
                                           }
   
                             </script>

                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm"></span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>