
<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheet/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<header class="header" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <div class="header__content">
            <!-- Logo Section -->
            <div class="header__logo">
                <a href="/user/">
                    <img style="height: 30px; width: 140px;" src="/image/Shoppycartfinel.png" alt="ShoppyCart Logo">
                </a>
            </div>
            <!-- Navigation Menu -->
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="/user/">Home</a></li>
                    <li ><a href="/user/productList">Shop</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a style="color: black;" href="./about.html">About Us</a></li>
                            <li><a style="color: black;" href="./shop-details.html">Shop Details</a></li>
                            <li><a style="color: black;" href="./shopping-cart.html">Shopping Cart</a></li>
                            <li><a style="color: black;" href="./checkout.html">Check Out</a></li>
                            <li><a style="color: black;" href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a> </li>
                  
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            <!-- Right Options -->

            <div class="header__nav__option">
                <a href="/user/profile">
                    <i class="fas fa-user" style="font-size: 24px; color: black;"></i> 
                </a>
                
                <a href="/user/wishlist">
                    <i class="fas fa-heart" style="font-size: 24px; color: black;"></i> 
                </a>
                
                <a href="/user/cart">
                    <i class="fas fa-shopping-cart" style="font-size: 24px; color: black;"></i> 
                </a>
                <a href="/user/logout">
                    <i class="fas fa-sign-out-alt" style="font-size: 24px;color: black;"></i> 
                </a>
            </div>
            
        </div>
    </div>
</header>


<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel ">
        <div class="hero__items set-bg container-fluid" data-setbg="/banners/mainBanner.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Sports Collection</h6>
                            <h2>New - Sports Collections 2025</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p>
                            <a href="/user/productList" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/banners/banner1.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Running Collection</h6>
                            <h2>New - Running Collections 2025</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p>
                            <a href="/user/productList" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="/banners/1.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Trending</h2>
                        <a href="/user/productList">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="/banners/2.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Sports</h2>
                        <a href="/user/productList">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="/banners/3.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Sneakers</h2>
                        <a href="/user/productList">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Best Sellers</li>
                    <li data-filter=".new-arrivals">New Arrivals</li>
                    <li data-filter=".hot-sales">Hot Sales</li>
                </ul>
            </div>
        </div>


            <div class="row isotope-grid">
				<% product.forEach(function(item) { %> 
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="/uploads/<%= item.images[0] %>" alt="IMG-PRODUCT"> <!-- Display the first image of the product -->
							
								<a href="/user/productDetails/<%= item._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 ">
									Quick View
								</a>
							</div>
						
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l">
									<a href="/user/productDetails/<%= item._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%= item.product %> <!-- Display the product title -->
									</a>
								
									<span class="stext-105 cl3">
										$<%= item.price %> <!-- Display the product price -->
									</span>
                                    
								</div><br>
							
								
							</div>
						</div>
					</div>
				<% }); %>
			</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2> <br /> <span>Shoe Collection</span> <br /> </h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="/banners/banneroffer.png" alt="">
                    <div class="hot__deal__sticker">
                        <span>Sale Of</span>
                        <h5>$2999</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Deal Of The Month</span>
                    <h2>Nike Zoom Vomero Roam</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <a href="/user/productList" class="primary-btn">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="/banners/ins1.png"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/banners/ins2.png"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/banners/ins3.png"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/banners/ins4.png"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/banners/ins5.png"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/banners/ins6.png"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                    <h3>@shoppycart</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<!-- <section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Latest News</span>
                    <h2>Fashion New Trends</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-1.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="/img/icon/calendar.png" alt=""> 16 February 2020</span>
                        <h5>What Curling Irons Are The Best Ones</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-2.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="/img/icon/calendar.png" alt=""> 21 February 2020</span>
                        <h5>Eternity Bands Do Last Forever</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-3.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="/img/icon/calendar.png" alt=""> 28 February 2020</span>
                        <h5>The Health Benefits Of Sunglasses</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Latest Blog Section End -->

<%-include('./partials/footer.ejs')%>

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
    
   
