<%-include('partials/header.ejs')%>
<link rel="stylesheet" href="/stylesheet/productDetails.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<header class="header" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <div class="header__content">
            <!-- Logo Section -->
            <div class="header__logo">
                <a href="/user/">
                    <img style="height: 30px; width: 140px;" src="/image/Shoppycartfinel.png" alt="ShoppyCart Logo">
                </a>
            </div>
             <!-- Navigation Menu -->
             <nav class="header__menu">
                <ul>
                    <li ><a href="/user/">Home</a></li>
                    <li ><a href="/user/productList">Shop</a></li>
                    <!-- <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a style="color: black;" href="./about.html">About Us</a></li>
                            <li><a style="color: black;" href="./shop-details.html">Shop Details</a></li>
                            <li><a style="color: black;" href="./shopping-cart.html">Shopping Cart</a></li>
                            <li><a style="color: black;" href="./checkout.html">Check Out</a></li>
                            <li><a style="color: black;" href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a> </li>
                  
                    <li><a href="#">Blog</a></li> -->
                </ul>
            </nav>
            <!-- Right Options -->


            <div class="header__nav__option">
                <a href="/user/profile">
                    <i class="fas fa-user" style="font-size: 24px; color: black;"></i> 
                </a>
                
                <a href="/user/wishlist">
                    <i class="fas fa-heart" style="font-size: 24px; color: black;"></i> 
                </a>
                
                <a href="/user/cart">
                    <i class="fas fa-shopping-cart" style="font-size: 24px; color: black;"></i> 
                </a>
                <a href="/user/wallet">
                    <i class="fas fa-wallet" style="font-size: 24px; color: black;"></i> 
                </a>
                <a href="/user/logout">
                    <i class="fas fa-sign-out-alt" style="font-size: 24px; color: black;"></i> 
                </a>
              
            </div>
            
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- breadcrumb -->



<div class="container" style="margin-top: 50px;">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/user/home" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="/user/productList" class="stext-109 cl8 hov-cl1 trans-04">
                Shoe
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            <%= product.product %>			</span>
    </div>
</div>
    

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots">
                            
                        </div>
                        <section class="sec-product-detail bg0 p-t-65 p-b-60">
                            <div class="container">
                                <div class="row">
                                    <!-- Left Side with Small Images -->
                                    <div class="col-md-6 col-lg-3 p-b-30">
                                        <div class="wrap-slick3 flex-sb flex-w">
                                            <div class="gallery-thumbnails">
                                                <% product.images.forEach((image, index) => { %>
                                                    <div class="thumbnail-item" style="cursor: pointer;">
                                                        <img src="/uploads/<%= image %>" alt="Thumbnail Image" class="thumbnail-image" style="width: 100px; height: auto;" onclick="changeMainImage('<%= image %>')">
                                                    </div>
                                                    <br><br>
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- Right Side with Main Image -->
                                    <div class="col-md-6 col-lg-9 p-b-30">
                                        <div class="wrap-pic-w pos-relative zoom-container">
                                            <!-- Main Image -->
                                            <img id="mainImage" src="/uploads/<%= product.images[0] %>" alt="Main Product Image" class="zoom-image" style="width: 400px; height: auto;">
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/<%= product.images[0] %>" style="right: 10px; top: 31px;">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                            <!-- Zoom Lens -->
                                            <div class="zoom-lens"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <script>
                                // Function to change the main image when a thumbnail is clicked
                                function changeMainImage(image) {
                                    // Change the source of the main image
                                    document.getElementById('mainImage').src = "/uploads/" + image;
                                }
                            
                                </script>
                        
                     
                        <script>
                            document.querySelectorAll('.zoom-container').forEach(container => {
const img = container.querySelector('.zoom-image');
const lens = container.querySelector('.zoom-lens');

container.addEventListener('mousemove', (e) => {
    const { left, top, width, height } = container.getBoundingClientRect();

    const posX = e.clientX - left;
    const posY = e.clientY - top;

    // Calculate lens position
    const lensX = posX - (lens.offsetWidth / 2);
    const lensY = posY - (lens.offsetHeight / 2);
    lens.style.left = `${lensX}px`;
    lens.style.top = `${lensY}px`;

    // Calculate zoomed image position
    const zoomedImgUrl = img.src;
    lens.style.backgroundImage = `url(${zoomedImgUrl})`;
    lens.style.backgroundSize = `${img.width * 2}px ${img.height * 2}px`; // Adjust zoom level
    lens.style.backgroundPosition = `-${posX * 2}px -${posY * 2}px`; // Center the zoomed area
});
});
                        </script>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-5 p-b-30" style="position: absolute; right: 25px">
                <div class="p-r-50 p-t-5 p-lr-0-lg" style="right: 146px; position: absolute;">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        <%= product.product %>
                    </h4>
                    <h6><%=product.brand%></h6>
                    <span class="mtext-106 cl2" style="font-size: x-large;">
                        <% if (product.hasDiscount) { %>
                            <span style="text-decoration: line-through; color: red;">
                                ₹<%= product.price.toFixed(2) %>
                            </span>
                            <span style="color: green; font-weight: bold;">
                                ₹<%= product.discountedPrice.toFixed(2) %>
                            </span>
                            <small>(<%= product.discountPercentage %>% off)</small>
                        <% } else { %>
                            ₹<%= product.price.toFixed(2) %>
                        <% } %>
                    </span>
                    
                  
                    <div class="custom-div">
                        <p class="small-text"><%= product.categoryId.name ? product.categoryId.name : 'No category' %></p>
                    </div>
                    <style>
                     
                    </style>
                    
                    <div class="custom-div1">
                        <p class="stock-status 
    <% if (product.stock === 0) { %> sold-out <% } 
       else if (product.stock === 1) { %> low-stock <% } 
       else { %> in-stock <% } %>">
    <% if (product.stock === 0) { %> Sold Out <% } 
       else if (product.stock === 1) { %> Only 1 left in stock! <% } 
       else { %> <%= product.stock %> left in stock <% } %>
</p>

                    </div>

                    <!-- Rating Section -->
					<div class="rating-container mb-4">
						<div class="stars">
							<i class="fa fa-star filled"></i>
							<i class="fa fa-star filled"></i>
							<i class="fa fa-star filled"></i>
							<i class="fa fa-star-half-o"></i>
							
						</div>
						<span class="rating-text">(4.3/5)</span>
					</div>


                    <div>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                            blandit ipsum auctor Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula
                        </p>
                            <br>
                    </div>

                    <!-- <div class="product__details__option">
                        <div class="product__details__option__size">
                            <span>Size:</span>
                            <label for="xxl">xxl
                                <input type="radio" id="xxl">
                            </label>
                            <label class="active" for="xl">xl
                                <input type="radio" id="xl">
                            </label>
                            <label for="l">l
                                <input type="radio" id="l">
                            </label>
                            <label for="sm">s
                                <input type="radio" id="sm">
                            </label>
                        </div>
                        <div class="product__details__option__color">
                            <span>Color:</span>
                            <label class="c-1" for="sp-1">
                                <input type="radio" id="sp-1">
                            </label>
                            <label class="c-2" for="sp-2">
                                <input type="radio" id="sp-2">
                            </label>
                            <label class="c-3" for="sp-3">
                                <input type="radio" id="sp-3">
                            </label>
                            <label class="c-4" for="sp-4">
                                <input type="radio" id="sp-4">
                            </label>
                            <label class="c-9" for="sp-9">
                                <input type="radio" id="sp-9">
                            </label>
                        </div>
                    </div> 
                     -->
        
                    
                  <!-- Add to Cart Form -->
<div style="display: flex; gap: 10px; align-items: center;">
   
        <% if (product.stock > 0) { %>
            <form onsubmit="return addToCart(event, '<%= product._id %>')" class="cart-form">
                <input type="hidden" name="product_id" value="<%= product._id %>">
                <button type="submit" class="btn btn-warning py-2 px-3">
                    <i class="fa fa-shopping-cart"></i> Add to Cart
                </button>
            </form>
        <% } else { %>
            <button type="button" class="btn btn-danger fa fa-times-circle " disabled>  Sold Out</button>
        <% } %>
    </form>

   
    <button type="submit"  onclick="addToWishlist('<%= product._id %>')"  class="btn btn-warning py-2 px-3">
        <i class="fa fa-heart"></i>  Add to Wishlist
    </button>
   
    
   
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function addToCart(event, productId) {
        event.preventDefault();
        
        fetch(`/user/cart/addProducts/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'same-origin'
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message,
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message || 'Failed to add product to cart'
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Something went wrong while adding to cart!'
            });
        });
    
        return false;
    }
</script>

<script>
    //add to wishlist
    function addToWishlist(productId) {
        fetch(`/user/addToWishlist/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials:'same-origin'
        })
       .then(response => response.json())
       .then(data => {
        if (data.success) {
            Swal.fire({
                icon:'success',
                title: 'Success',
                text: data.message,
                showConfirmButton: false,
                timer: 1500
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.message || 'Failed to add product to wishlist'
            });
        }
       })
       .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Something went wrong while adding to wishlist!'
        });
       });

       return false;

    }
</script>

    
                    <!-- Additional Elements -->
                </div>
                
            </div>
            
        </div>
        <div style="padding: 10px;">
            <p class="stext-102 cl3 p-t-23">
                <%= product.description %> <!-- Display product description -->
            </p>
        </div>
        


<!-- <div class="add-review" >
    <h4>Add a review</h4>
    <form action="#" method="post">
       <textarea  type="text name="Message" required="" placeholder="Write Something........" style="background-color: rgb(237, 237, 237);" class="rounded"></textarea>
        <button type="submit" class="btn btn-primary" style="height: 33px; width: 90px; display: flex; justify-content: center; align-items: center; text-align: center;">SEND</button>

    </form>
</div> -->

<div class="tab3">

    <div class="single_page">
        <h6><%= product.productName %></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
            blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
            magna aliqua.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
            blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
            magna aliqua.</p>
    </div>
</div>
     
    </div>

    </section>

<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                Related Products
            </h3>
        </div>
        <div class="row isotope-grid">
            <%  relatedProducts.forEach(function(item) { %> 
            <div class="col-sm-6 col-md-4 col-lg-4 p-b-35 isotope-item"> <!-- Use col-lg-4 to ensure 3 products per row on large screens -->
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <!-- Display the first image of the product -->
                        <img src="/uploads/<%= item.images[0] %>" alt="IMG-PRODUCT">
        
                        <!-- <a href="/user/productDetails/<%= item._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15">
                            Quick View
                        </a> -->
                    </div>
        
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
                            <!-- Display the product title -->
                            <a href="/user/productDetails/<%= item._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <%= item.product %>
                            </a>
        
                            <h6><%=item.brand%></h6>
                            <!-- Display the product price -->
                            <span class="stext-105 cl3">
                                ₹<%= item.discountPrice %>
                            </span>
                        </div>
                        <div>
                            <br>
                        </div>
                        
                    </div>
                </div>
            </div>
            <% }); %> <!-- End of loop -->
        </div>
        
        
                
            </div>
        </div>
    </div>

</section>

<%-include('partials/footer.ejs')%>
</body>
</html>